.flex{
    display:flex;
    
}


nav .flex{
    justify-content: center;
    align-items: center;
}


 @media (max-width:768px) {
    header nav, header nav div,header nav div ul{
        flex-direction: column;
     
    }

    

    header nav div ul li{
       align-self: center;
        
    }

    header nav div div{
        align-self: flex-start;
        
    }

 }