:root{

    /* color */
    --first-clr:#f1f1f1;
    --second-clr:rgba(221, 25, 25, 0.856);
    --trid-clr:#000;
    --fourth-clr:rgba(63, 59, 59,0.83);


    /* body - text - p*/
    --btext-clr:#757575;


    /* title - text - h2*/
    --ttext-clr: #393939;


    /* Shadow color */
    --shadow:rgba(78, 78, 78, 0.342);

    /* gradtiet */
    --gradient-clr:linear-gradient(60deg, rgba(60,173,208,1) 25%, rgba(46,195,75,1) 56%, rgba(0,181,23,1) 83%);


    /* Font Family */
    --ffamily:'Poppins', sans-serif;


}


#home{
    height:550px;
    align-items: center;
    background-image:linear-gradient(60deg, rgba(60,173,208,0.7) 25%, rgba(46,195,75,0.7) 56%, rgba(0,181,23,0.7) 83%), url(../../img/bg-img.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

/* home-left */

    #home div div:first-child h1{
        line-height: 6rem; 
        font-weight: 300;
        font-size: 4.4rem; 
        font-weight: 400;
        letter-spacing: -1px;
        padding:1.5rem 0;
        color: var(--first-clr);
    } 

    .home-info{
        margin-top: 5rem;
        padding: 0 1.7rem;
    }

/* main-right */

#home{
    padding: 80px 0;
}

#home .card-home{
    background-color: black;
    height: 312px;
    width: 555px;
}

.card-home{
    padding: 0 1.7rem;
}




/* about */

#about{
    padding:80px 0;
    background-color: var(--first-clr);
    
}

#about div div h2{
    font-size: 28px;
    font-weight: 400;
    color: #393939;;
}


#about .about-text{
    font-size: 15px;
    font-weight: 460;
    color: #757575;
    line-height: 25px;
}

#about button:first-child{
    margin-left: 10px;
}

#about .pr-section-title{
    margin-bottom: 10px;
}

#about .pr-col-3{
    padding: 25px 20px 0 20px;
}

#about .pr-col-3 .pr-row{
    justify-content: space-between;
    margin: 7px 0;
    
}

#about .pr-col-3 .pr-row span{
    font-size: 14px;

}

.pr-border{
    height: 3px;
    background-color: black;
    margin-bottom: 28px;

}

.web-design{
    width: 55%;
}

.css-design{
    width: 85%;
}

.html-design{
   width:75% ; 
}

.scss-design{
    width: 90%;
}


#about-image{
    width: 360px;
    height: 360px;
    background-color: black;
    margin: 0 20px;
}






/* MyProject */

#myproject{
    background-color: #ebe8e8;
    padding: 80px;
}

/* Card */

.pr-card{
    width: 555px; 
    height: 410px;
}



/* Contact  */

#contact{
    padding:80px 0;
    background-image: var(--gradient-clr);
    
}

#contact div div h2{
    font-size: 28px;
    font-weight: 400;
    color:var(--first-clr);
}



.from-comp{
    height: 40px;
    margin-bottom: 15px;
    font-size: 15px;
    transition: font-size 0.2s linear;
}




.clearfix::after{
    content: "";
    display: block;
    clear: both;
}







.in-conp{
    width: 100%;
    padding: 9px 18px;
    border: 1px solid #ced4da;
    border-radius: 7px;
    font-size: 17px;
    transition: padding 0.3s,
        font-size 0.3s ease-out; 
}


.in-conp:focus{
    outline: none;
    

    
}

.col-50{
    
    width: 50%;
    float: left;
}


.form-right{
    padding-left:10px;
}

.form-left{
    padding-right:10px;
}    

textarea{
    
    margin: 15px 0;
}



input[type="submit"]{
    border:1px solid grey;
    background-color: var(--second-clr);
    border-radius: 50px;
    color: var(--first-clr);
    font-size: 14px;
    width: 200px;
    height: 50px;
    padding: 6px 12px;
    
    
    
}


.submit{
    
    margin-top: 40px;
    
}