{% extends "base.html" %} 

{% block contet %}
    <main>
        
        <section id="home">
            <div class="space-10">
                <div class="container pr-row">
    
                    <!-- DESKOP VIEW-->
    
                    <div class="pr-col-6 pr-box-sizing home-info">
                        
                        <h1 class="home-info-text">We make beautiful websites for all people.</h1>
                        
                    </div>
                    
                    <div class="pr-col-6 card-home">
    
                        
                        <a href="">
                            <div class="img-home"></div>
                            <div class="panthom"></div>
                        </a>
                        
    
                    </div>
    
                    <!-- TABLET AND TELEFON VIEW-->
    
                    <div class="pr-col-12 pr-box-sizing home-info pr-responsive ">
                        
                        <h1 class="home-info-text">We make beautiful websites for all people.</h1>
                        
                    </div>
                    
                    <div class="pr-col-12 card-home pr-responsive">
    
                        <a href="">
                            <div class="img-home"></div>
                            
                            <div class="panthom">
                                
                            </div>
                        </a>
    
                    </div>
                </div>
            </div>
            
    
        </section>

        <section id="about" >

            <div class="container pr-row">

                <!-- DESKOP VIEW-->

                <div class="pr-col-5">
                    <div class="pr-section-title ">
                        <h2 class="pr-title-name">Let us introduce</h2>
                        <div class="">
                            <button class="pr-carusel-btn"><span></span></button>
                            <button class="pr-carusel-btn"><span></span></button>
                            <button class="pr-carusel-btn"><span></span></button>
                        </div>
                    </div>
                    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>

                <div class="pr-col-3 pr-box-sizing ">
                    <div class="pr-row">
                        <h4>Web Design</h4>
                        <span class="span-font">55%</span>
                    </div>
                    <div class="pr-border web-design"></div>

                    <div class="pr-row">
                        <h4>CSS Design</h4>
                        <span class="span-font">85%</span>
                    </div>
                    <div class="pr-border css-design"></div>
                    
                    <div class="pr-row">
                        <h4>HTML Design</h4>
                        <span class="span-font">75%</span>
                    </div>
                    <div class="pr-border html-design"></div>

                    <div class="pr-row">
                        <h4>SCSS Design</h4>
                        <span class="span-font">90%</span>
                    </div>
                    <div class="pr-border scss-design"></div>
                    
                </div>

                <div class="pr-col-4">
                    <div class="about-image"></div>
                </div>

                <!-- TABLET VIEW -->

                <div class="pr-responsive">

                    <div class="pr-col-6 ">
                        <div class="pr-section-title ">
                            <h2 class="pr-title-name">Let us introduce</h2>
                            <div class="">
                                <button class="pr-carusel-btn"><span></span></button>
                                <button class="pr-carusel-btn"><span></span></button>
                                <button class="pr-carusel-btn"><span></span></button>
                            </div>
                        </div>
                        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>

                    <div class="pr-col-6  pr-box-sizing">
                        <div class="pr-row pr-justify-content-between">
                            <h4>Web Design</h4>
                            <span class="span-font">55%</span>
                        </div>
                        <div class="pr-border web-design"></div>

                        <div class="pr-row pr-justify-content-between">
                            <h4>CSS Design</h4>
                            <span class="span-font">85%</span>
                        </div>
                        <div class="pr-border css-design"></div>
                        
                        <div class="pr-row pr-justify-content-between">
                            <h4>HTML Design</h4>
                            <span class="span-font">75%</span>
                        </div>
                        <div class="pr-border html-design"></div>

                        <div class="pr-row pr-justify-content-between">
                            <h4>SCSS Design</h4>
                            <span class="span-font">90%</span>
                        </div>
                        <div class="pr-border scss-design"></div>
                        
                    </div>
                </div>

                <div class="pr-col-12 pr-responsive">
                    <div class="about-image"></div>
                </div>                
            </div>

            <div class="pr-row pr-flex-direction-column pr-responsive-telefon ">
                 <!-- TELEFON VIEW -->
                
                 <div class="pr-col-12 pr-justify-content-center">
                    <div class="pr-section-title ">
                        <h2 class="pr-title-name">Let us introduce</h2>
                        <div class="">
                            <button class="pr-carusel-btn"><span></span></button>
                            <button class="pr-carusel-btn"><span></span></button>
                            <button class="pr-carusel-btn"><span></span></button>
                        </div>
                    </div>
                    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                </div>

                <div class="pr-col-12 pr-justify-content-center pr-box-sizing">
                    <div class="pr-row pr-justify-content-between">
                        <h4>Web Design</h4>
                        <span class="span-font">55%</span>
                    </div>
                    <div class="pr-border web-design"></div>

                    <div class="pr-row pr-justify-content-between">
                        <h4>CSS Design</h4>
                        <span class="span-font">85%</span>
                    </div>
                    <div class="pr-border css-design"></div>
                    
                    <div class="pr-row pr-justify-content-between">
                        <h4>HTML Design</h4>
                        <span class="span-font">75%</span>
                    </div>
                    <div class="pr-border html-design"></div>

                    <div class="pr-row pr-justify-content-between">
                        <h4>SCSS Design</h4>
                        <span class="span-font">90%</span>
                    </div>
                    <div class="pr-border scss-design"></div>
                    
                </div>
                
                <div class="pr-col-12 ">
                    <img src="../../static/img/about-image.jpg" class="img-responsive" alt="">
                </div>
            </div>

        </section>

        <section id="myproject">
            
            <div class="pr-row pr-flex-direction-column container">

                <div class="pr-row pr-justify-content-center">
                    <div class="pr-section-title">
                        <h2 class="pr-title-name">My Project</h2>
                        <div class="pr-row pr-justify-content-center ">
                            <button class="pr-carusel-btn"><span></span></button>
                            <button class="pr-carusel-btn"><span></span></button>
                            <button class="pr-carusel-btn"><span></span></button>
                        </div>
                    </div>
                </div>

                

                <div class="pr-project-container">

                        <div class="pro-1">
                            <div class="pr-card pr-row pr-row-taplet">
                                <div class="pr-card-head"></div>
                                <div class="pr-card-body">
                                    <div class="pr-card-time">
                                        <i class="far fa-clock"></i> December 25.07.21
                                    </div>
                                    <a href="{{url_for('project')}}" class="pr-card-title pr-link">How To Find Out Beautiful Workspace.</a>
                                    <p class="pr-card-text">Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                    <a class="pr-card-btn" href="{{url_for('project')}}">Read aricle</a>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="pro-2">
                            <div class="pr-card pr-row pr-row-taplet">
                                <div class="pr-card-head"></div>
                                <div class="pr-card-body">
                                    <div class="pr-card-time">
                                        <i class="far fa-clock"></i> December 25.07.21
                                    </div>
                                    <a href="{{url_for('project')}}" class="pr-card-title pr-link">How To Find Out Beautiful Workspace.</a>
                                    <p class="pr-card-text">Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                    <a class="pr-card-btn" href="{{url_for('project')}}">Read aricle</a>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="pro-3">
                            <div class="pr-card pr-row pr-row-taplet">
                                <div class="pr-card-head"></div>
                                <div class="pr-card-body">
                                    <div class="pr-card-time">
                                        <i class="far fa-clock"></i> December 25.07.21
                                    </div>
                                    <a href="{{url_for('project')}}" class="pr-card-title pr-link">How To Find Out Beautiful Workspace.</a>
                                    <p class="pr-card-text">Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                    <a class="pr-card-btn" href="{{url_for('project')}}">Read aricle</a>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="pro-4">
                            <div class="pr-card pr-row pr-row-taplet">
                                <div class="pr-card-head"></div>
                                <div class="pr-card-body">
                                    <div class="pr-card-time">
                                        <i class="far fa-clock"></i> December 25.07.21
                                    </div>
                                    <a href="{{url_for('project')}}" class="pr-card-title pr-link">How To Find Out Beautiful Workspace.</a>
                                    <p class="pr-card-text">Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                                    <a class="pr-card-btn" href="{{url_for('project')}}">Read aricle</a>
                                    
                                </div>
                            </div>
                        </div>

                </div>
            </div>

             <!-- TELEFON VEIW -->

            <div class="pr-project-container-tel">
                <div class="pr-card pr-row pr-row-taplet">
                    <div class="pr-card-head"></div>
                    <div class="pr-card-body">
                        <div class="pr-card-time">
                            <i class="far fa-clock"></i> December 25.07.21
                        </div>
                        <a href="{{url_for('project')}}" class="pr-card-title pr-link">How To Find Out Beautiful Workspace.</a>
                        <p class="pr-card-text">Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="{{url_for('project')}}" class="pr-card-btn">Read aricle</a>
                    </div>
                    

                </div>

                <div class="pr-card pr-row pr-row-taplet">
                    <div class="pr-card-head"></div>
                    <div class="pr-card-body">
                        <div class="pr-card-time">
                            <i class="far fa-clock"></i> December 25.07.21
                        </div>
                        <a href="{{url_for('project')}}" class="pr-card-title pr-link">How To Find Out Beautiful Workspace.</a>
                        <p class="pr-card-text">Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="{{url_for('project')}}" class="pr-card-btn">Read aricle</a>
                    </div>
                    

                </div>

                
            </div>

        </section>

        <section id="contact">
            <div class="space-10">
                <div class="pr-row pr-flex-direction-column container">

                    <div class="pr-row pr-justify-content-center">
                        <div class="pr-section-title">
                            <h2 class="pr-title-name">Contact Me</h2>
                            <div class="pr-row pr-justify-content-center ">
                                <button class="pr-carusel-btn"><span></span></button>
                                <button class="pr-carusel-btn"><span></span></button>
                                <button class="pr-carusel-btn"><span></span></button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <form action="">
            
                            <div class="clearfix cas">
            
                                <div class="from-comp col-50 form-left">
                                        <input type="text" required name="fulname" placeholder="Your Fullname" class="in-conp tass">
                                </div>

                                <div class="from-comp col-50 form-right">
                                        <input type="email" name="email" placeholder="Your Email" class="in-conp">
                                </div>
                            </div>

                            
                            <textarea name="Massege" placeholder="Your Massege" required class="in-conp" id="" cols="30" rows="10"></textarea>
                                
            
                            <div class="submit">
                                <input type="submit" value="Send Massege">
                            </div>
            
            
            
                        </form>
            
            
            
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </section>      
    </main>
{% endblock %} %}
