{% extends 'base.html' %}


    {% block contet %}   
        <main>
            <section id="home-project">
                <div class="container pr-row home-project-deskop">
                    <div class="title-container">
                        <h2 class="home-project-title">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, alias! Praesentium, ipsa!
        
                        </h2>
                    </div>
                </div>
            </section>

            <section id="info-project">
                
                <div class="container">

                    <div class="left-space">

                        <div class="img-container">
                            <img class="pr-img-fluid" src="../static/img/navigate-using-stars-night-sky-1200x720.jpg" alt="">
                        </div>

                        <div>
                            <h3 class="project-info-title">
                                Lorem ipsum dolor sit amet.
                            </h3>

                            <p class="project-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, vero nihil accusantium cum facere ad totam officiis quia neque adipisci numquam tempora aliquam id. Natus nulla placeat alias nostrum repudiandae?</p>

                            <div class="left-border">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit commodi non iste eius minus magnam tempore quaerat voluptates eveniet labore, molestiae, aliquid beatae doloribus deserunt?
                                </p>
                            </div>

                            <p class="project-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, vero nihil accusantium cum facere ad totam officiis quia neque adipisci numquam tempora aliquam id. Natus nulla placeat alias nostrum repudiandae?</p>

                            <div class="pr-row pr-justify-content-center info-project-info">
                                <h4 class="info-title">Lorem, ipsum dolor.</h4>
                            </div>

                            <ol>
                                <li>
                                    Brand Identity ipsum dolor eget vestibulum justo imper diet.
                                </li>

                                <li>
                                    Social Marketing porta leo at mi suscipit congue. Donec ipsum metus, tristique leo luctus.
                                </li>

                                <li>
                                    Wordpress Themes augue vulputate voluptate neque, curabitur dolor vitae massa
                                </li>
                            </ol>

                            <p class="project-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo officia dignissimos fuga molestiae repellat nemo laudantium esse fugit, nobis quod, illum vel. Facere, odio.</p>


                        </div>

                    </div>

                </div>

            </section>
        </main>
    {% endblock %}
    