
html{
    font-size: 10px;
    transition: all 0.5s;
}
 

@media (max-width:576px) {
    html{
        font-size: 9.5px;
        transition: all 0.5s;
    }
}

 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header-Başlıq */ 


    header {
    background-color: #f1f1f1;
    box-sizing: border-box;
    padding: 1rem 0;
    position:sticky;
    top: 0;
    z-index: 7;
    }

    header nav{
        justify-content:space-between;
        
    }


/* container */

    .container{
        padding: 0 !important;
        box-sizing: border-box;
    }



/* navbar - logo */


    nav div #logo{
        padding:1.5rem;
        letter-spacing: -1px;
        transform:translateY(5%) ;
    }

    nav div #logo i{
        justify-content: space-between;
    }

    nav #logo h4{
        font-size: 2rem;
        font-family:'Poppins', sans-serif;
    }

    @media (min-width:768px) {

        #logo{
            margin-left: -1.5rem;
            transition: all 0.5s ease-in;
        }
        
    }

/* navbar -  ul */


    .container  ul{
        list-style: none;
        margin: 0;
        
    }
    

    nav div ul li a, nav ul:last-child li a{
        font-size: 1.4rem;
        font-family:'Poppins', sans-serif;
        font-weight: 500;
    } 
    

/* links */


    nav a{
        display: inline-block;
        width: 100%;
        height: 100%;
        color:rgba(63, 59, 59,0.83);
        
    }

    nav a:hover{
        text-decoration: none;
        color: rgba(180, 39, 39, 0.856);
        
    }


/* navbar - left ul */

    nav div ul li:first-child{
        padding: 0 0 0 11rem;
        transition: all 0.5s ease-in;
    }
    

    @media (min-width:768px) and (max-width:992px) {
        nav div ul li:first-child{
            padding: 0 0 0 3rem;
            transition: all 0.5s ease-in;
        }
    }

    @media (max-width:768px){
        nav div ul li:first-child{
            padding: 0;
            transition: all 0.5s ease-in;
        }
    }

    
    nav div ul li a{
        padding: 1.5rem 2.8rem;
        transition: all 0.5s ease-in;
    }

    @media (min-width:768px) and (max-width:992px) {
        nav div ul li a{
            padding: 1.5rem 2rem;
            transition: all 0.5s ease-in;
        }
    }

    

    @media (min-width:768px) and (max-width:992px) {
        nav div ul li:first-child a{
            padding-left: 0;
        }
    }

    


/* navbar - right ul(share) */


    nav #share li a{
        padding: 1.3rem 1.2rem;
        font-size: 1.6rem;
    }






/* main */


    main {
    height: 80rem;
    width: 10rem;
    background-color: yellowgreen; 
    }
