<footer>
    <div class="space-10">
        <div class="container deskopveiw pr-row pr-flex-direction-column ">
            <div class="pr-row">
                <div class="pr-col-6">
                    <h4 class="">Hydro Company</h4>
                    <p class="footer-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="pr-col-6">
                    <h4 class="">Find us</h4>
                    <p class="footer-text ">
                        123 Grand Rama IX,
                        <br>
                        Krung Thep Maha Nakhon 10400
                    </p>
                </div>
                
            </div>
            
            <div class="footer-contact pr-row pr-justify-content-between">
                <p class="footer-text ">Copyright © 2017 Your Company</p>
                <ul  class="pr-row pr-share">
                
                    <li>
                        <a href="https://www.facebook.com/nofel.salahov.5" class="pr-link pr-row">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://twitter.com/NofelSalahov" class="pr-link pr-row">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.instagram.com/salahov__nofel/" class="pr-link pr-row">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
            
        </div>

        <div class="tabletveiw algin-items-center pr-flex-direction-column ">
            <div class="pr-row  pr-flex-direction-column algin-items-center betwwn ">
                <h4 class="">Hydro Company</h4>
                <p class="footer-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="pr-row pr-flex-direction-column algin-items-center  betwwn">
                <h4 class="">Find us</h4>
                <p class="footer-text ">
                    123 Grand Rama IX,
                    <br>
                    Krung Thep Maha Nakhon 10400
                </p>
            </div>



            <div class="footer-border pr-flex-direction-column algin-items-center ">
                <p class="footer-text ">Copyright © 2017 Your Company</p>
                <ul  class="pr-row  pr-share">
                
                    <li>
                        <a href="https://www.facebook.com/nofel.salahov.5" class="pr-link pr-row">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://twitter.com/NofelSalahov" class="pr-link pr-row">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.instagram.com/salahov__nofel/" class="pr-link pr-row">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    
                </ul>

            </div>
            



        </div>

    </div>
    
                        
</footer>