

<!---------------------------------  Admin Panel Navbar ------------------------------------------------------>


<div style="background-color: #f3f3f3;  " class="btn-group zindex-sticky shadow d-flex justify-content-center sticky-top  !spacing" role="group" aria-label="Basic example">
    <a style="background-image: linear-gradient(60deg, rgba(60,173,208,1) 25%, rgba(46,195,75,1) 56%, rgba(0,181,23,1) 83%); font-weight:800 ;" class="btn d-inline-block py-3 px-4  text-light m-3" href="{{url_for('main')}}">Dr.MadWill</a>
    <a class="btn d-inline-block py-3 px-4 bg-dark text-light m-3" href="{{url_for('adminmain')}}">Main</a>
    <a class="btn d-inline-block py-3 px-4 bg-primary text-light m-3" href="{{url_for('adminhome')}}">Home</a>
    <a class="btn d-inline-block py-3 px-4 bg-warning text-light m-3" href="{{url_for('adminabout')}}">About</a>
    <a class="btn d-inline-block py-3 px-4 bg-success text-light m-3" href="{{url_for('adminpro')}}">MyProject</a>
</div>