<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  
</head>
<body class="m-0 p-0">
    
    <section>

      <!-- Home  -->

      <div class="row">

        <div class="col-6 d-flex flex-column  mx-4  my-3">
              <div class="bg-primary d-flex  justify-content-center text-light px-2 py-3">
                Home
              </div>
              <div>
                <form class="row"   enctype="multipart/form-data" method="POST" >
                      <!-- Home Title Start -->
                      <div class="col-12">
                        <input type="text" name="HomeTitleText" class="form-control my-3"  placeholder="Home Title" required>
                      </div>
                      <!-- Home Title End-->

                      <!-- image upload start -->
                      <input type="file" class="col-12 form-control-file" name="file">
                      <!-- image upload end -->

                      <div class="col-12 d-flex  justify-content-center my-2">
                        <button class="btn btn-primary" type="submit">Add info</button>
                      </div>

                </form>
              </div>
        </div>

        <div class="col d-flex flex-column  mx-4   my-3">
            <div class="bg-success d-flex  col-12 justify-content-center text-light px-2 py-3">
              MyProject
            </div>
            <form class="row"   enctype="multipart/form-data" method="POST" >
              <!-- Card Time  -->
              <div class="col-12">
                <input type="text" name="cardTime" class="form-control my-2"  placeholder="Card Time" required>
              </div>
              <!-- Card Time End-->

              <!-- Card Title -->
              <div class="col-12">
                <input type="text" name="cardTitle" class="form-control my-2"  placeholder="Card Title" required>
              </div>
              <!-- Card Title End-->

              <!-- Card Text -->
              <div class="col-12">
                <input type="text" name="cardText" class="form-control my-2"  placeholder="Card Text" required>
              </div>
              <!-- Card Text End-->

              <!-- image upload start -->
              <input type="file" class="col-12 form-control-file" name="pfile">
              <!-- image upload end -->

              <div class="col-12 d-flex  justify-content-center my-2">
                <button class="btn btn-success" type="submit">Add info</button>
              </div>


            </form>

            <div></div>

        </div>        
      
      </div>
    </section>


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>